{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <div class="row">

                <div class="card" style="width: 18rem;">
                    {% if car.picture %}
                        <img src="{{ asset('img/'~car.picture~'.jpg') }}" class="card-img-top" alt="">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ car.title }}</h5>
                        <p class="card-text">{{ car.description }}</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">{{ car.brand }} {{ car.model }}</li>
                        <li class="list-group-item">{{ car.kilometers }} km</li>
                        <li class="list-group-item">{{ car.price }} €</li>
                    </ul>
                    <div class="card-body">
                        {% if app.user %}
                            <a href="{{ path('app_cars_edit', {'id': car.id}) }}"><img src="{{ asset('img/edit.png') }}" alt="modifier" ></a>
                            <a href="{{ path('app_cars_delete', {'id': car.id}) }}"><img src="{{ asset('img/delete.png') }}" alt="supprimer" ></a>
                        {% endif %}
                    </div>
                </div>

        </div>
    </div>
{% endblock %}